.DS_Store
node_modules

# test status directories
test/migrations/flokStatus
nohup.out
test/down/flokStatus/f2ccf261-e498-4b21-b49b-805610d5ca94.json
test/down/flok.lock
test/show/flok.lock
package-lock.json
